<!-- src/app/components/tasks/tasks.component.html -->
<div class="container">
  <app-header (toggleAddTask)="toggleAddTask()"></app-header>
  
  <div *ngIf="showAddTask">
    <app-add-task
      [task]="taskToEdit"
      (onAddTask)="addTask($event)"
      (onCloseForm)="closeForm()">
    </app-add-task>
  </div>
  
  <div *ngIf="tasks.length > 0; else noTasks">
    <div class="task-list">
      <app-task-item
        *ngFor="let task of tasks"
        [task]="task"
        (onDelete)="deleteTask($event)"
        (onEdit)="editTask($event)"
        (onToggleReminder)="toggleReminder($event)"
        (onToggleComplete)="toggleComplete($event)">
      </app-task-item>
    </div>
  </div>
  
  <ng-template #noTasks>
    <p>No tasks to show</p>
  </ng-template>
  
  <div *ngIf="showTaskDeletedToast" class="toast">
    <p>Task deleted</p>
    <button (click)="undoDelete()">Undo</button>
  </div>
</div>